<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New PRODUCT PAGE</title>
    </head>
    <div class="container">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/style.css">
   
    </head>
    <body>
        <br>
   
       <div class="navbarTop">
        <button style="float:right">  <a href="/products/new">Add to INV</a> </button>
   
        <button style="float:left"><a href="/products/boards">Check Out</a></button>
       
       </div>

        <div class="navbar">

      <br>
            <form action="/products" method="POST" >
           Your Cart: TOTAL COST HERE   <br>
           Items: # of ITEMS HERE
        
             
                <!-- In Stock?:         <input type="text" name="product" /><br/> -->
                <!-- SuperUser: <input type="checkbox" name="superUser" /><br/>
        <span class="highlighter">    <input type="submit" name="" value="Order"/></span>     <br> -->
    
          </div>
      
 <br>
      
<div class="container">
    <a href="/products/new">Add product to inventory</a> 
         <ul>
             
            <% for(let i = 0; i < allProducts.length; i++){ %>
              <li>
                <div class="container">   
            Item:  <a href="/products/<%= allProducts[i]._id %>"> 
                     <%=allProducts[i].item; %> <br></a>
                 Category:   <%=allProducts[i].category; %> <br>
                Cost:  $<%=allProducts[i].price; %>.
               br    <button>Add to Cart</button>
                <form action="/products/<%= allProducts[i].id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE"/> <a href="/products/<%=allProducts[i].id %>/edit">Edit</a>
                </form>
            </div>
                <br>
            </li>
    
            <% } %>
       
       
        </ul>

        
    </div>
       
    </body>
</html>